language: python

branches:
  except:
    - gh-pages


before_cache:
  - "find ${HOME}/.pip -name log -o -name __pycache__ -type d | xargs -I {} rm -rf {}"

cache:
  directories:
    - "${HOME}/.pip"

python:
  - 3.6
  - 3.5
  - 3.4
  - 3.3
  - 2.7
  - pypy


matrix:
  fast_finish: true
  allow_failures:
    - python: 3.6

install:
  - pip install tox
  - pip install tox-travis

script:
  - tox

after_success:
  - pylint stencil
  - pip install coveralls
  - coveralls
